{% extends 'books/index.html' %}

{% block content %}

<div id="contents">
    <h2>{{ book.title }}</h2>
    <br> 
    <div>
        <img src="https://iss.ndl.go.jp/thumbnail/{{book.isbn}}" onerror="this.onerror=null;this.src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSA4LjVjMC0uODI4LjY3Mi0xLjUgMS41LTEuNXMxLjUuNjcyIDEuNSAxLjVjMCAuODI5LS42NzIgMS41LTEuNSAxLjVzLTEuNS0uNjcxLTEuNS0xLjV6bTkgLjVsLTIuNTE5IDQtMi40ODEtMS45Ni00IDUuOTZoMTRsLTUtOHptOC00djE0aC0yMHYtMTRoMjB6bTItMmgtMjR2MThoMjR2LTE4eiIvPjwvc3ZnPg==';" />
    </div>
    <ul>
        <li>creator：{{ book.creator}}</li>
        <li>publisher：{{ book.publisher}}</li>
        <li>subject：{{ book.subject}}</li>
    </ul>
    <br> 
    <br> 
    <div>
        <a href="./forms">◆この書籍を持ち出す◆</a>
    </div>
</div>
{% endblock %}